body{
    padding-top: 100px;
}

/*NavBar*/
.navbar{
    background-color : #5782B7 !important;
}

.weatherIcon{
    height: 300px;
    width : 200px;
}

.logoSize{
    height: 42px;
}

.maxMintemp{
    height : 92px;
    width : 92px;
}
.currentWeatherPanel{
    margin-left: 16px; 
    margin-top: 16px;
    height : 455px;
    width : 300px;
}
.forcasetIcon{
    height: 32px;
    width :32px;
}

.site-footer{
   
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: #5782B7;
}